<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://1.117.74.41:3306/lab?serverTimezone=UTC&amp;autoReconnect=true"/>
                <property name="username" value="root"/>
                <property name="password" value="29233"/>
                <property name="poolPingQuery" value="SELECT NOW()" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.ycj.imv3.mapper.UserMapper"/>
        <mapper class="com.ycj.imv3.mapper.GroupMapper"/>
        <mapper class="com.ycj.imv3.mapper.GroupMembersMapper"/>
        <mapper class="com.ycj.imv3.mapper.HistoryMapper"/>
    </mappers>
</configuration>