<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <File name="file_all" fileName="./imv3-all.log">
            <PatternLayout>
                <Pattern>%d{MM-dd-HH:mm:ss}--[%t]--[%level]--[%logger{36}]:%msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="file_connect" fileName="./imv3-filter.log">
            <PatternLayout>
                <Pattern>%d{MM-dd-HH:mm:ss}--[%t]--[%level]--[%logger{36}]:%msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="file_login" fileName="./imv3-login.log">
            <PatternLayout>
                <Pattern>%d{MM-dd-HH:mm:ss}--[%t]--[%level]--[%logger{36}]:%msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd-HH:mm:ss}--[%t]--[%level]--[%logger{36}]:%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="file_all"/>
        </Root>
        <Logger name="debug" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="filter" level="debug">
            <AppenderRef ref="file_connect" />
        </Logger>
        <Logger name="login" level="info">
            <AppenderRef ref="file_login" />
        </Logger>
    </Loggers>
</Configuration>